.*.aux
.lia.cache
*.glob
*.vo
*.vok
*.vos
*~
.*.d
**/Makefile.rocq
**/Makefile.rocq.conf

# Symlink to /std/_CoqProject or /hott/_CoqProject
/_CoqProject
# Symlink to /tests/_CoqProject.std or /tests/_CoqProject.hott
/tests/_CoqProject

# Website
website/_site/
